@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Omar Karmil
    Consultant .Net
</address>

<address>
    <strong>LinkedIn</strong> <a href="https://www.linkedin.com/feed/">LinkedIn</a><br />
</address>
